---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About – Will Engler">
  <h1>About</h1>
    
  <p>
    You can reach me at <a href="mailto:Engler.Will@gmail.com">Engler.Will@gmail.com</a>. If you are visiting Chicago, we can meet over a $2 Hamm's at Rainbo Club.
  </p>

</BaseLayout>
